@model AMS.ViewModel.FishFishermenMasterViewModel

<div class="container-fluid">
    <ul class="breadcrumb">
        <li>@Resources.MainMenu_GeneralParameters<span class="divider">»</span></li>
        <li class="active">Fish Fisherman</li>
    </ul>

    <ul class="breadcrumb" style="height: 30px;">
        <li style="font-size: 12px;">Centre<span class="divider">»</span></li>

        <li>
            &nbsp;&nbsp;&nbsp;
            @Html.DropDownListFor(model => model.CentreCode, Model.ListGetAdminRoleApplicableCentreItems, "--Select Centre--", new { id = "CentreList", @class = "form-control chosen-select" })
            @Html.HiddenFor(m => m.CentreCode)
            @*@@Html.HiddenFor(m => m.CentreName)*@
            
            <span class="divider">»</span>
        </li>

        <li>
            <button type="button" id="ShowList" class="btn btn-primary" style="margin-bottom: 10%;">Show List</button>
        </li>
    </ul>
    
    
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-block">
                <div style="display: none">@Html.ActionLink("Create New", "Create", new { id = 0 }, new { @class = "ajax", title = "Create" })</div>
                <div class="widget-head">
                    <h5 id="hFive"><i class="black-icons users"></i> &nbsp;Fishermen Profile</h5>
                    <div class="pull-right" style="margin: -24px 60px 0px 10px;">
                        <div class="input-append" id="" style="float: right;">
                            <div style="display: none;">
                                <input type="hidden" name="_method" value="POST">
                            </div>

                            <div>
                                <select name="data[User][searchby]" class="" id="showrecord" tabindex="16" style="float: left;">
                                    <option value="10">@Resources.GlobalProperties_ShowRecords</option>
                                    <option value="10">@Resources.GlobalProperties_10</option>
                                    <option value="50">@Resources.GlobalProperties_50</option>
                                    <option value="100">@Resources.GlobalProperties_100</option>
                                </select>
                                &nbsp;&nbsp;
                                <input type="text" name="data[User][search]" class="search_query input-medium" placeholder="@Resources.GlobalProperties_Search..." size="16" autocomplete="off" id="UserSearch">
                                <button class="btn" type="button" id="searchBtn"><i class="icon-search"></i></button>
                            </div>
                            <div class="widget-control pull-right">
                                <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="ajax cboxElement" href="@Url.Action("Create", "FishFishermenMaster", new {CentreCode=Model.CentreCode })">
                                            <h6 style="color: #000;"><i class="icon-plus" style="padding-left: 7px;"></i>@Resources.DisplayName_AddNew</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-box">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                            <div class="table_content">
                                <table id="myDataTable" class="table table-striped table-bordered ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center; width:30%">Fishermen name</th>
                                            <th style="text-align: center; width: 30%">Fishermen Code</th>
                                            @*<th style="text-align: center; width: 20%">Department</th>*@
                                            <th style="text-align: center; width: 30%">Gender</th>
                                           
                                            <th style="text-align: center; width: 30px;line-height:40px;">@Resources.DisplayName_Actions</th>
                                            @*<th style="text-align: center;">DepartmentID</th>*@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="widget-bottom">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        FishFishermenMaster.Initialize();
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "FishFishermenMaster/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CentreCode", "value": $('input[name=CentreCode]').val() });                
            },
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },

            "columnDefs": [
                    {
                        "targets": 0,
                        "bSearchable": true,
                    },
                     {
                         "targets": 1,
                         "bSearchable": true,
                     },                     
                     {
                         "targets": 2,
                         "data": null,
                         "render": function (data, type, full, meta)
                         {
                             if (data[2] == 'M') {
                                 var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="white-icons color-icons user_business_co"></span>' + "</p>";
                             }
                             else if (data[2] == 'F') {
                                 var result = "<p  style='text-align: center; height:5px;'>" + ' <span class="white-icons color-icons user_female_co"></span>' + "</p>";
                             }
                             else {                                
                                 var result = null;
                             }
                             return result;
                         }
                     },
                     {
                         "targets": 3,
                         "bSortable": false,
                         "data": null,
                         "render": function (data, type, full, meta) {
                             debugger;
                             var editResult = '@Html.ActionLink("Edit1", "Edit", new { ID = '1' }, new { @class = "ajax  cboxElement" })';
                             editResult = editResult.replace('1', data[3]);
                             editResult= editResult.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');

                             var deleteResult = '@Html.ActionLink("Delete1", "Delete", new { ID = '1' }, new { @class = "ajax  cboxElement" })';
                             deleteResult = deleteResult.replace('1', data[3]);
                             deleteResult = deleteResult.replace("Delete1", '<i class="icon-trash" title = "@Resources.ToolTip_Delete"></i>');

                             var result = "<p style='text-align: center; height:5px;'>" + editResult + " | " + deleteResult + "</p>"
                             return result;
                                                     

                         }
                     }                     
            ]

            //"drawCallback": function (settings) {

            //    var api = this.api();
            //    var rows = api.rows({ page: 'current' }).nodes();
            //    var last = null;

            //    var table = $('#myDataTable').dataTable();
            //    api.column(2, { page: 'current' }).data().each(function (group, i) {

            //        var CentreCode = $('input[name=CentreCode]').val();
            //        var CentreName = $('input[name=CentreName]').val();
            //        var DepartmentID = table.fnGetColumnData(5, i);
            //        if (last !== group) {
            //            $(rows).eq(i).before(
            //                '<tr class="group"><td colspan="4" style="font-weight:bold;background-color:rgba(128,128,128,0.2);color:#000;font-size:12px;font-family: verdana;">' + group + ' <a class="ajax cboxElement" href="/FishFishermenMaster/AddEmployee?CentreCode=' + CentreCode + ':' + DepartmentID[i++] + '"><i class="icon-plus" style="float:right;margin-right:20px;"></i></a></tr>'
            //            );
            //            last = group;
            //        }
            //    });
            //}
        });
    });
</script>