@model AMS.ViewModel.SalaryEmployeePayFixationMasterViewModel
<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;Edit salary Employee Pay Fixation</h2>
    </div>
    <div class="card">
        <div id="custom-content">
            <div id="card-body card-padding">
                <div id="displayErrorMessage" role="alert" hidden class="alert">
                    <button class="close" type="button"><span aria-hidden="true">×</span></button>
                    <p id="messageContent"></p>
                </div>
                <form id="FormCreateSalaryEmployeePayFixationMaster">
                    @Html.HiddenFor(m => m.ID)
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            @Html.LabelFor(m => m.EmployeeName, new { style = "" })
                            <span style="color:red">*</span>
                            <div class="form-group  fg-line">
                                @Html.TextBoxFor(model => model.EmployeeName, new { maxlength = "50", @class = "form-control input-sm typeahead" })
                            </div>
                            @Html.ValidationMessageFor(model => model.EmployeeName)
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.Basic, new { })
                                <span style="color:red">*</span>
                                @Html.TextBoxFor(model => model.Basic, new { maxlength = "45", @class = "form-control input-sm" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Basic)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.PayScaleRange, new { })
                                <span style="color:red">*</span>
                                @Html.DropDownListFor(model => model.SalaryPayScaleMasterID, (SelectList)ViewBag.SalaryPayScaleMasterIDsList, "---Select Pay Scale Range ---", new { @class = "form-control input-sm" })

                            </div>
                            @Html.ValidationMessageFor(model => model.PayScaleRange)
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                @Html.LabelFor(model => model.GradePayAmount, new { })
                                <span style="color:red">*</span>
                                @Html.DropDownListFor(model => model.SalaryGradePayMasterID, (SelectList)ViewBag.SalaryGradePayMasterIDsList, "---Select Grade Pay Amount ---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Store Type*" })

                            </div>
                            @Html.ValidationMessageFor(model => model.GradePayAmount)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.ArriersGenerationStatus, new { })
                            <span style="color:red">*</span>

                            @Html.DropDownList("ArriersGenerationStatus", ViewData["ArriersGenerationStatus"] as List<SelectListItem>, new { @class = "form-control input-sm" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ArriersGenerationStatus)
                    </div>
                    </form>
                   </div>
            </div>
        </div>
    </div>
  <script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

  <script type="text/javascript">
   $(document).ready(function () {
   SalaryEmployeePayFixationMaster.Initialize();
     })
     </script>
