@model AMS.ViewModel.DashboardViewModel

<script src="~/Scripts/AMS_Scripts/Account/AccountTransactionMasterV2.js"></script>


<input type="hidden" id="taskcode" value="AVAR" />

<div class="card">

    <table id="MyDataTablePendingAVARequest" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th> Voucher Date </th>
                <th> Voucher Number</th>
                <th> Narration</th>
                <th class="">@Resources.TableHeaders_Status</th>
                <th class="center">@Resources.DisplayName_Actions</th>
            </tr>
        </thead>
    </table>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        AccountTransactionMaster.Initialize();
        var oTable = $('#MyDataTablePendingAVARequest').dataTable({
            "bServerSide": true,
            "sAjaxSource": "Home/AjaxHandlerMyDataTablePendingAVARRequest",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "order": [[0, "asc"]],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "TaskCode", "value": "AVAR" });
            },
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "columnDefs": [

                            {
                                "targets": 0,
                                "bSortable": false,
                                "orderable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result = "<p  style='height:5px;'>" + data[11] + "</p>";
                                    return result;
                                }
                            },
                            {
                                "targets": 1,
                                "bSortable": false,
                                "orderable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result = "<p  style='height:5px;'>" + data[12] + "</p>";
                                    return result;
                                }
                            },
                             {
                                 "targets": 2,
                                 "bSortable": false,
                                 "orderable": false,
                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     var result = "<p  style='height:5px;'>" + data[13] + "</p>";
                                     return result;
                                 }
                             },
                             {
                                 "targets": 3,
                                 "bSortable": false,
                                 "orderable": false,

                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     var chkStatus = '';
                                     var result = '';
                                        if (data[1] == "0") {
                                            chkStatus = '@Resources.Displaychkstatus_Pending';
                                            result = "<button class='btn bgm-orange btn-xs'>" + chkStatus + "</button>";
                                        }
                                        else if (data[1] == "1") {
                                            chkStatus = '@Resources.Displaychkstatus_Done';
                                            result = "<button class='btn bgm-green btn-xs'>" + chkStatus + "</button>";
                                        }
                                        else if (data[1] == "2") {
                                            chkStatus = '@Resources.Displaychkstatus_Reject';
                                            result = "<button class='btn bgm-red btn-xs'>" + chkStatus + "</button>";
                                        }
                                     var resultout = "<p  style=' height:5px;'>" + result + "</p>";

                                     return resultout;
                                 }
                             },
                             {
                                 "targets": 4,
                                 "bSortable": false,
                                 "data": null,
                                 "render": function (data, type, full, meta) {

                                     var TaskCode = 'AVAR';

                                     var result1 = '<a href="#" class="mfpAjaxModal btn btn-default waves-effect"><i class="zmdi zmdi-file"></i></a>';
                                     result1 = result1.replace("#", data[2] + "&TNDID=" + data[3] + "&TNMID=" + data[4] + "&GTRDID1=" + data[5] + "&TaskCode=" + TaskCode + "&StageSequenceNumber=" + data[6] + "&IsLast=" + data[7]);
                                     result1 = result1.replace('AccountVoucherRequestApproval', 'AccountVoucherRequestApprovalV2');
                                     var result2 = '<a href="javascript:void(0)" class="btn btn-default waves-effect"><i class="zmdi zmdi-lock" title="@Resources.ToolTip_ApplicationIsTakenByAnotherApprover"></i></a>';

                                     if (data[9] == 'True') {
                                         if (data[10] == 'True') {
                                             var result = "<p style='text-align: center; height:5px;'>" + result1 + "</p>";
                                         }
                                         else {
                                             var result = "<p style='text-align: center; height:5px;'>" + result2 + "</p>";
                                         }
                                     }
                                     else {
                                         var result = "<p style='text-align: center; height:5px;'>" + result1 + "</p>";
                                     }

                                     return result;
                                 }

                             }
            ]
        });

        DataTableSettings(oTable, "MyDataTablePendingAVARequest", "toggleTableColumn");
    });
</script>