@*@model AMS.ViewModel.ToolQualificationExamMasterViewModel
<form id="FormEditToolQualificationExamMaster" method="post">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="update-message" class="error invisible"></div>
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)

    <div class="widget-block" style="width: auto; height: auto;">
        <div class="widget-head">
            <h5>@Resources.FormUpdate_QualificationExam </h5>
        </div>
        <div class="widget-content">
            <div class="widget-box" style="padding: 15px">
                
                <div class="control-group control-label">
                    <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                    @Html.LabelFor(model => model.QualificationName, new { style = "font-weight:bold" })
                    <div class="controls input-xlarge text-tip">
                        @Html.TextBoxFor(model => model.QualificationName, new { maxLength = "50", style = "font-Weight:Bold;", @readonly = "readonly" })
                        <br />
                        @Html.ValidationMessageFor(model => model.QualificationName)
                    </div>
                </div>
                <div class="control-group control-label">

                    @Html.LabelFor(model => model.EducationType, new { style = "font-weight:bold" })
                    <div class="controls input-xlarge text-tip">
                        @Html.DropDownList("EducationType", ViewData["EducationType"] as List<SelectListItem>, new { style = "width:210px;font-Weight:Bold", @class = "dropdown1", @readonly = "readonly" })

                    </div>
                </div>*@

                @*<div class="form-actions" style="border: 1px solid #e5e5e5; text-align: right">*@
                    @*  <button type="submit" class="btn btn-primary">Save changes</button>*@
                    @* <input name="" id="reset" type="submit" class="btn btn-primary" value="Reset" />*@
                    @*<input type="button" id="EditToolQualificationExamMasterRecord" value="Submit" class="btn btn-primary" />*@

                @*</div>*@
            @*</div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        ToolQualificationExamMaster.Initialize();
    });
</script>
<script type="text/javascript">
    $("#closeBtn").click(function () {
        $ColorBox.close();
    });
</script>*@

@*------new code-------*@

@model AMS.ViewModel.ToolQualificationExamMasterViewModel
<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormUpdate_QualificationExam</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding" style="padding-bottom:10%;">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormEditToolQualificationExamMaster">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>
                        @Html.LabelFor(model => model.QualificationName, new { })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.QualificationName, new { @class = "form-control", maxLength = "50", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.QualificationName)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.EducationType, new { })
                        <div class="form-group fg-line select">
                            @Html.DropDownList("EducationType", ViewData["EducationType"] as List<SelectListItem>, new { style = "", @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-left: 2%; ">
                    @*<button type="button" id="EditToolQualificationExamMasterRecord" value="@Resources.ButtonAction_Submit" class="btn btn-primary">@Resources.ButtonAction_Submit</button>*@
                    
                </div>
            </form>

        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ToolQualificationExamMaster.Initialize();
    });
</script>
