@*@model AMS.ViewModel.OrganisationCentrewiseSessionViewModel
<div class="container-fluid">
    <ul class="breadcrumb">
        <li> Organisation <span class="divider">»</span></li>
        <li class="active">Organisation Centrewise Session</li>
    </ul>
    <ul class="breadcrumb" style="height: 30px;">

        <li>
            <span style="color: red;  padding-left: 1px; font-weight: bold">*</span>    
            <span style="font-size: 12px; font-weight: bold; line-height: 30px">@Resources.TableHeaders_CentreName&nbsp;: &nbsp;&nbsp;</span>
            @Html.DropDownListFor(m => m.SelectedCentreCode, Model.ListGetAdminRoleApplicableCentreItems, @Resources.ddlHeaders_CentreName, new { @class = "form-control chosen-select", style = "font-weight:bold;" })
        </li>
        <li>
            <input type="button" value="@Resources.GlobalProperties_ShowList" style="margin-bottom: 9px" class="btn btn-primary" id="btnShowList" />
        </li>

    </ul>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-block">

                <div style="display: none">@Html.ActionLink("Create New", "Create", new { id = 0 }, new { @class = "ajax", title = "Create" })</div>
                <div class="widget-head">
                    <h5 id="hFive"><i class="black-icons users"></i>&nbsp; Organisation Centrewise Session</h5>
                    <div class="pull-right" style="margin: -24px 60px 0px 10px;">
                        <div class="input-append" id="" style="float: right;">
                            <div style="display: none;">
                                <input type="hidden" name="_method" value="POST">
                            </div>
                            <div>
                                <select name="data[User][searchby]" class="" id="showrecord" tabindex="16" style="float: left;">
                                    <option value="10">@Resources.GlobalProperties_ShowRecords</option>
                                    <option value="10">@Resources.GlobalProperties_10</option>
                                    <option value="50">@Resources.GlobalProperties_50</option>
                                    <option value="100">@Resources.GlobalProperties_100</option>
                                </select>
                                &nbsp;&nbsp;
                                <input type="text" name="data[User][search]" class="search_query input-medium" placeholder="@Resources.GlobalProperties_Search..." size="16" autocomplete="off" id="UserSearch">
                                <button class="btn" type="button" id="searchBtn"><i class="icon-search"></i></button>
                            </div>


                            <div id="CreateCentrewiseSession" class="widget-control pull-right" style="display:none" >
                                <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="ajax cboxElement" href="@Url.Action("Create", "OrganisationCentrewiseSession", new { centerCode = @Model.SelectedCentreCode, centerName = @Model.CentreName })"> <h6 style="color:#000;"><i class="icon-plus" style="padding-left:7px;"></i>@Resources.DisplayName_AddNew</h6></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="widget-content">
                    <div class="widget-box">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                            <div class="table_content">
                                <table id="myDataTable" class="table table-striped table-bordered ">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center"> Session Name</th>
                                            <th style="text-align: center"> Session From Date </th>
                                            <th style="text-align: center">Session Upto Date </th>
                                            <th style="text-align: center">Active Session Flag </th>
                                            <th style="text-align: center">Lock Status </th>

                                            <th style="text-align: center; width: 30px; line-height: 40px">@Resources.TableHeaders_Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="widget-bottom">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        OrganisationCentrewiseSession.Initialize();
        var isReloadedFromCookies;
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "OrganisationCentrewiseSession/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "SelectedCentreCode", "value": $("#SelectedCentreCode").val() });

            },
            "columnDefs": [

                             {
                                 //"targets": 0,
                                 //"bSearchable": true,

                                 "visible": true, "targets": 0,
                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     if (data[0] != "") {
                                         var result = "<p  style='text-align: center; height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[0] + "</p>";
                                         return result;
                                     }
                                     else {
                                         return null;
                                     }
                                 }

                             },
                            {
                                "targets": 1,
                                "bSortable": false,
                                "visible": true, "targets": 1,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (data[1] != "") {
                                        var result = "<p  style='text-align: center; height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[1] + "</p>";
                                        return result;
                                    }
                                    else {
                                        return null;
                                    }
                                }
                            },

                           {
                               "targets": 2,
                               "bSortable": false,
                               "visible": true, "targets": 2,
                               "data": null,
                               "render": function (data, type, full, meta) {
                                   if (data[2] != "") {
                                       var result = "<p  style='text-align: center; height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[2] + "</p>";
                                       return result;
                                   }
                                   else {
                                       return null;
                                   }
                               }
                           },

                            {
                                "targets": 3,

                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var chkStatus = '';
                                    if (data[3] == "1") {
                                        chkStatus = 'checked';
                                    }
                                    else {
                                        chkStatus = '';
                                    }
                                    var result = "<p  style='text-align: center; height:5px;'>" + '<input id="ActiveSessionFlag" class="CheckBox" type="checkbox" disabled ' + chkStatus + ' />' + "</p>";

                                    return result;
                                }
                            },
                            {
                                "targets": 4,
                                "bSortable": false,
                                "visible": true, "targets": 4,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (data[4] != "") {
                                        var result = "<p  style='text-align: center; height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[4] + "</p>";
                                        return result;
                                    }
                                    else {
                                        return null;
                                    }
                                }
                            },
                            
                            {
                                "targets": 5,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {

                                    if (data[6] > 0) {
                                        $("#CreateCentrewiseSession").hide(true)
                                    }
                                  //  alert(data[5]);

                                        

                                        var result2 = '@Html.ActionLink("Delete1", "Delete", new { ID = '1' }, new { @class = "ajax  cboxElement" })';
                                        result2 = result2.replace('1', data[5]);
                                        result2 = result2.replace("Delete1", '<i class="icon-trash" title="@Resources.ToolTip_Delete"></i>');


                                    var result = "<p  style='text-align: center; height:5px;'>"  + result2 + "</p>";
                                        return result;




                                }
                            }
            ]
        });

    });


</script>*@

@*-----------new code----------------*@


@model AMS.ViewModel.OrganisationCentrewiseSessionViewModel


@*<div class="container">*@
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Organisation Centrewise Session</h2>
</div>

<div class="card">

    

    <div class="card-header">
        <ul class="actions" id="CreateCentrewiseSession" style="display:none;">
            <li class="dropdown">
                <a href="" data-toggle="dropdown" title="Add New">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="mfpAjaxModal" href="@Url.Action("Create", "OrganisationCentrewiseSession", new { centerCode = @Model.SelectedCentreCode, centerName = @Model.CentreName })">
                            <i class="zmdi zmdi-plus-square"></i> &nbsp; @Resources.DisplayName_AddNew
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-4">
                @Resources.TableHeaders_CentreName
                <div class="form-group fg-line select">
                    @Html.DropDownListFor(m => m.SelectedCentreCode, Model.ListGetAdminRoleApplicableCentreItems, @Resources.ddlHeaders_CentreName, new { @class = "form-control", style = "" })
                </div>
            </div>
            <div class="col-sm-3" style="margin-top:10px;">
                <button type="button" class="btn btn-primary" id="btnShowList">@Resources.GlobalProperties_ShowList</button>
            </div>
        </div>
    </div>

    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="Session Name">
                                        Session Name<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="Session From Date">
                                        Session From Date<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="Session Upto Date">
                                        Session Upto Date<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="3" name="Active Session Flag">
                                        Active Session Flag<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="Lock Status">
                                        Lock Status<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="5" name="Action">
                                        @Resources.TableHeaders_Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>Session Name</th>
                <th>Session From Date </th>
                <th>Session Upto Date </th>
                <th>Active Session Flag </th>
                <th>Lock Status </th>
                <th>@Resources.TableHeaders_Action</th>
            </tr>
        </thead>
    </table>
</div>
@*</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        var oTable;
        OrganisationCentrewiseSession.Initialize();
        var isReloadedFromCookies;
        oTable = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "OrganisationCentrewiseSession/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "SelectedCentreCode", "value": $("#SelectedCentreCode").val() });

            },
            "columnDefs": [

                             {
                                 //"targets": 0,
                                 //"bSearchable": true,

                                 "visible": true, "targets": 0,
                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     if (data[0] != "") {
                                         var result = "<p  style=''>" + "&nbsp;" + data[0] + "</p>";
                                         return result;
                                     }
                                     else {
                                         return null;
                                     }
                                 }

                             },
                            {
                                "targets": 1,
                                "bSortable": false,
                                "visible": true, "targets": 1,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (data[1] != "") {
                                        var result = "<p  style=''>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[1] + "</p>";
                                        return result;
                                    }
                                    else {
                                        return null;
                                    }
                                }
                            },

                           {
                               "targets": 2,
                               "bSortable": false,
                               "visible": true, "targets": 2,
                               "data": null,
                               "render": function (data, type, full, meta) {
                                   if (data[2] != "") {
                                       var result = "<p  style=''>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[2] + "</p>";
                                       return result;
                                   }
                                   else {
                                       return null;
                                   }
                               }
                           },

                            {
                                "targets": 3,

                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var chkStatus = '';
                                    if (data[3] == "1") {
                                        chkStatus = 'checked';
                                    }
                                    else {
                                        chkStatus = '';
                                    }
                                    //var result = "<p  style=''>" + '<input id="ActiveSessionFlag" class="CheckBox" type="checkbox" disabled ' + chkStatus + ' />' + "</p>";
                                    var result = "<p  class='checkbox' style='margin-left: 10%; margin-top: 0%;'>" + '<input id="ActiveSessionFlag"  type="checkbox" disabled ' + chkStatus + ' /><i class="input-helper"></i>' + "</p>";

                                    return result;
                                }
                            },
                            {
                                "targets": 4,
                                "bSortable": false,
                                "visible": true, "targets": 4,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (data[4] != "") {
                                        var result = "<p  style=''>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[4] + "</p>";
                                        return result;
                                    }
                                    else {
                                        return null;
                                    }
                                }
                            },

                            {
                                "targets": 5,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {

                                    if (data[6] > 0) {
                                      //  $("#CreateCentrewiseSession").hide(true)
                                    }
                                  //  alert(data[5]);

                                        @*var result1 = '@Html.ActionLink("Edit1", "Edit", new { ID = '1' }, new { @class = "ajax  cboxElement" })';
                                        result1 = result1.replace('1', data[5]);
                                        result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');*@

                                        //var result2 = '@Html.ActionLink("Delete1", "Delete", new { ID = '1' }, new { @class = "ajax  cboxElement" })';
                                        //result2 = result2.replace('1', data[5]);
                                        //result2 = result2.replace("Delete1", '<i class="icon-trash" title="@Resources.ToolTip_Delete"></i>');
                                        result2 = " <a href=\"javascript:void(0);\" data-toggle=\"tooltip\" class=\"btn btn-default waves-effect\" onclick=\"fancyBoxPopUpAjax('Delete Center','Do you want to delete Center ?','error','btn-danger 2.','Yes!','/OrganisationCentrewiseSession/Delete?ID=" + data[5] + "','content','page-loader','OrganisationCentrewiseSession')\"><span class=\"zmdi zmdi-delete waves-effect\"></span></a>";


                                    var result = "<p  style=''>"  + result2 + "</p>";
                                        return result;




                                }
                            }
            ]
        });

        DataTableSettings(oTable, "myDataTable", "toggleTableColumn");
    });


</script>