@*@model AMS.ViewModel.OrganisationSubGrpRuleSessionwiseViewModel

<form id="FormEditOrganisationSubGrpRuleSessionwise" method="post" style="width:300px">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)    
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.SubjectRuleGrpNumber)
     @Html.HiddenFor(model => model.CourseYearSemesterID)
   @Html.HiddenFor(model => model.SessionID)
  
    <div id="update-message" class="error invisible"></div>

    <div class="widget-block">
        <div class="widget-head">
            <h5>@Resources.FormUpdate_ApplyRuleForSession</h5>
        </div>
        <div class="widget-content">
            <div class="widget-box" style="padding: 15px">

                <div class="control-group control-label">
                  

                    <div class="controls input-xlarge text-tip">
                        <b>Are you sure to deallocate <u> @Html.DisplayFor(model => model.RuleName)</u>  rule from  <u>@Html.DisplayFor(model => model.SessionName)</u>  session ?</b>
                    </div>


                   


                <div class="form-actions" style="border: 1px solid #e5e5e5;text-align: right">                  
                    <input type="button" id="EditOrganisationSubGrpRuleSessionwiseRecord" value="Yes" class="btn btn-primary"  />
                      <input name="" id="closeBtn" type="button" class="btn btn-secondary" value="No" />
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        OrganisationSubGrpRuleSessionwise.Initialize();

        $("#closeBtn").col
    });
</script>*@



@*------------new code-------------*@

@model AMS.ViewModel.OrganisationSubGrpRuleSessionwiseViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormUpdate_ApplyRuleForSession</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormEditOrganisationSubGrpRuleSessionwise">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.SubjectRuleGrpNumber)
                @Html.HiddenFor(model => model.CourseYearSemesterID)
                @Html.HiddenFor(model => model.SessionID)

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group  fg-line">
                            <b>Are you sure to deallocate <u> @Html.DisplayFor(model => model.RuleName)</u>  rule from  <u>@Html.DisplayFor(model => model.SessionName)</u>  session ?</b>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 2%; ">
                    <input class="btn btn-primary btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="EditOrganisationSubGrpRuleSessionwiseRecord" type="button" />
                    <input name="" id="closeBtn" type="button" class="btn btn-default" value="No" />
                </div>
            </form>

        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        OrganisationSubGrpRuleSessionwise.Initialize();

        $("#closeBtn").col
    });
</script>












                
  