@model AMS.Web.UI.Models.SubjectMaster.SubjectMaster
@{
    ViewBag.Title = "Create";
}

<div id='dlgLogin'>
    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Subject Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                                <legend>Create</legend>
                                 <div class="editor-label">
                                    @Html.LabelFor(model => model.UniversityID)
                                </div>
                                <div class="editor-field">
                                        
                                       @Html.EditorFor(model => model.UniversityID)
                                    @Html.ValidationMessageFor(model => model.UniversityID) 
                                </div>
                                       
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Description)
                                </div>
                                <div class="editor-field">
                                        
                                       @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description) 
                                </div>
                                                            
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.SubjectIntroYear)
                                </div>
                                <div class="editor-field">
                                    
                             
                                    @Html.EditorFor(model => model.SubjectIntroYear)
                                    @Html.ValidationMessageFor(model => model.SubjectIntroYear)
                             
                                     </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.LanguageID)
                                </div>
                                <div class="editor-field">
                                   
                                    @Html.EditorFor(model => model.LanguageID)
                                    @Html.ValidationMessageFor(model => model.LanguageID)  
                                </div>

                                 <div class="editor-label">
                                    @Html.LabelFor(model => model.PaperCode)
                                </div>
                                <div class="editor-field">
                                   
                                    @Html.EditorFor(model => model.PaperCode)
                                    @Html.ValidationMessageFor(model => model.PaperCode)  
                                </div>

                                
                                <br />
                                <p>
                                     <input type="submit" class="btn btn-sm btn-primary" value="Create"/>
                                </p>
                            </fieldset>
                        }
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*script for popup*@
<script type="text/javascript">
    $(function () {
        $("#dlgLogin").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            buttons: {
                Create: function () {
                    // perform login
                    $.post("@Url.Action("Login", "SubjectMaster")",
				    {
				        UniversityID:$('#UniversityID').val(),
				        Description: $('#Description').val(),
				        SubjectCode:$('#SubjectCode').val(),
				       IntroductionYear: $('#SubjectIntroYear').val(),
				       PaperCode: $('#PaperCode').val(),
				    
				    },
				    function (data, status, xhr) {
				        if (data.Success) {
				            alert('great'); // do something
				            $('#dlgLogin').dialog("close");
				            $('#divLoginButton').load("@Url.Action("GetLoginButton", "SubjectMaster")");
                        } else {
				            // do something else
                        }
				    });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
</script>

@* End othe Script*@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>