@model AMS.Web.UI.Models.SubjectMaster.SubjectMaster
@{
    ViewBag.Title = "Edit";
}
@Styles.Render("~/Content/Vendors")
@Html.Partial("_LeftMenu")

<div id='dlgEdit'>
    <div class="col-md-10">
        <div class="row">
             <div class="navbar navbar-default bootstrap-admin-navbar-thin">
            <ol class="breadcrumb bootstrap-admin-breadcrumb">
                <li>
                    <a href="#">Course Planning</a>
                </li>
                <li>
                    <a href="#">Add Subject List</a>
                </li>
                @*<li><a href="#">Add General Course Details</a></li>*@
                 <li class="active">Subject Master</li>
            </ol>
        </div>
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Subject Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Edit</legend>
                           
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                 @Html.HiddenFor(model => model.ID)

                               <div class="form-group">
                                  <div class="editor-label col-lg-2 control-label">
                                    @Html.LabelFor(model => model.UniversityID)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.UniversityID)
                                    @Html.ValidationMessageFor(model => model.UniversityID)
                                </div>
                                   </div>
                                
                              <div class="form-group">
                                  <div class="editor-label col-lg-2 control-label">
                                    @Html.LabelFor(model => model.Description)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                                  </div>
                                
                                 <div class="form-group">
                                  <div class="editor-label col-lg-2 control-label">
                                    @Html.LabelFor(model => model.SubjectCode)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.SubjectCode)
                                    @Html.ValidationMessageFor(model => model.SubjectCode)
                                </div>
                                  </div>
                                
                                 <div class="form-group">
                                  <div class="editor-label col-lg-2 control-label">
                                    @Html.LabelFor(model => model.SubjectIntroYear)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.SubjectIntroYear)
                                    @Html.ValidationMessageFor(model => model.SubjectIntroYear)
                                </div>
                                  </div>
                                
                                
                                 <div class="form-group">
                                  <div class="editor-label col-lg-2 control-label">
                                    @Html.LabelFor(model => model.LanguageID)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.LanguageID)
                                    @Html.ValidationMessageFor(model => model.LanguageID)
                                </div>
                                  </div>

                                  <div class="form-group">
                                  <div class="editor-label col-lg-2 control-label">
                                    @Html.LabelFor(model => model.PaperCode)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.PaperCode)
                                    @Html.ValidationMessageFor(model => model.PaperCode)
                                </div>
                                  </div>
                            <div class="form-group">
                               <div class="editor-label col-lg-2 control-label">
                                   
                                </div>
                            <div>
                                    <p>
                                        <input class="btn btn-sm btn-primary" value="Save"/>
                                    </p>
                                </div>
                            </div>
                            }

 
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")

</div>