@*@model AMS.ViewModel.OrganisationSyllabusGroupMasterViewModel

<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>
<div class="container-fluid">
    <ul class="breadcrumb">
        <li>@Resources.MainMenu_CoursePlanning<span class="divider">»</span></li>
        <li class="active">@Resources.FormName_AddSyllabusTopics</li>
    </ul>
    @Html.HiddenFor(m => m.SessionID)
    <ul class="breadcrumb" style="height: 30px;">

        <li>
            <span style="color: red;padding-left: 1px; font-weight: bold">*</span> <span style="font-size: 12px; font-weight: bold;">@Resources.TableHeaders_CentreName &nbsp; &nbsp;&nbsp;</span>
            @Html.DropDownListFor(m => m.SelectedCentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { @class = "form-control chosen-select" , style="font-weight:bold;"})

        </li>

        <li>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <span style="color: red;  padding-left: 1px; font-weight: bold">*</span>  <span style="font-size: 12px; font-weight: bold;">@Resources.TableHeaders_UniversityName &nbsp;: &nbsp;&nbsp;</span>
            @Html.DropDownListFor(m => m.SelectedUniversityID, Model.ListOrganisationUnivesitytMasterItems, Resources.ddlHeaders_UniversityName, new { @class = "form-control chosen-select", style="font-weight:bold;"})
        </li>

        <li id="LiSessionName" style="display:none">&nbsp;&nbsp; &nbsp;&nbsp;  <span style="font-size: 12px; font-weight: bold;">@Resources.TableHeaders_Session &nbsp;: &nbsp;&nbsp;</span>
            @if (Model.SessionName != "Session not defined !")
            {
                <b>@Html.DisplayFor(m => m.SessionName, new { style = "font-size: 12px;" })</b>     
            }
            else
            {
                <b style="color: red;">@Html.DisplayFor(m => m.SessionName, new { style = "font-size: 12px;" })</b>             
            }

        </li>
        <li>
           &nbsp;&nbsp;  <input type="button" value="@Resources.GlobalProperties_ShowList" style="margin-bottom: 9px" class="btn btn-primary" id="btnShowList" />
        </li>
    </ul>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-block">
                <div style="display: none">@Html.ActionLink("Create New", "Create", new { id = 0 }, new { @class = "ajax", title = "Create" })</div>
                <div class="widget-head">
                    <h5 id="hFive"><i class="black-icons users"></i>&nbsp; @Resources.FormName_AddSyllabusTopics</h5>
                    <div class="pull-right" style="margin: -24px 60px 0px 10px;">
                        <div class="input-append" id="" style="float: right;">
                            <div style="display: none;">
                                <input type="hidden" name="_method" value="POST">
                            </div>
                            <div>

                                <select name="data[User][searchby]" class="" id="showrecord" tabindex="16">
                                    <option value="10">@Resources.GlobalProperties_ShowRecords</option>
                                    <option value="10">@Resources.GlobalProperties_10</option>
                                    <option value="50">@Resources.GlobalProperties_50</option>
                                    <option value="100">@Resources.GlobalProperties_100</option>
                                </select>
                                &nbsp;&nbsp;
                                <input type="text" name="data[User][search]" class="search_query input-medium" placeholder="@Resources.GlobalProperties_Search..." size="16" autocomplete="off" id="UserSearch">
                                <button class="btn" type="button" id="searchBtn"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-content">
                    <div class="widget-box">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                            <div class="table_content">
                                <table id="myDataTable" class="table table-striped table-bordered ">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; width: 200px">@Resources.TableHeaders_SubjectName </th>
                                            <th style="text-align: center; width: 150px">@Resources.DisplayName_GroupCol</th>
                                            <th style="text-align: center; width: 130px">@Resources.TableHeaders_SubjectCode</th>
                                            <th style="text-align: center; width: 150px">@Resources.TableHeaders_SubjectType </th>
                                            <th style="text-align: center; width: 150px; line-height: 40px">@Resources.TableHeaders_AllocationStatus</th>
                                            <th style="text-align: center; width: 30px; line-height: 40px">@Resources.TableHeaders_Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="widget-bottom">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        OrganisationSyllabusGroupMaster.Initialize();
        var oTableList = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "OrganisationSyllabusGroupMaster/AjaxHandler",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CurrentSessionID", "value": $('#SessionID').val() });
            },
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CurrentSessionID", "value": $("#SessionID").val() }),
                aoData.push({ "name": "SelectedCentreCode", "value": $("#SelectedCentreCode").val() }),
                aoData.push({ "name": "SelectedUniversityID", "value": $("#SelectedUniversityID").val() });
            },
            "columnDefs": [

                            {
                                "targets": 0,

                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result = "<p  style=' height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[0] + "</p>";
                                    return result;
                                }
                            },

                            {
                                "visible": false, "targets": 1,
                            },
                            {
                                "targets": 4,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var chkStatus = '';
                                    if (data[4] == "True") {
                                        chkStatus = 'checked';
                                    }
                                    else {
                                        chkStatus = '';
                                    }
                                    var result = "<p  style='text-align: center; height:5px;'>" + '<input id="IsActive" class="CheckBox" type="checkbox" disabled ' + chkStatus + ' />' + "</p>";

                                    return result;

                                }
                            },
                            {
                                "targets": 5,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    debugger;
                                    var statusFlag = data[4];
                                    if (statusFlag == "False") {

                                        var result1 = '@Html.ActionLink("Create1", "CreateSyllabusGroupDetails", new { SubjectGroupID = "ID1", ID = 0, _subjectName = "ID3" }, new { @class = "ajax  cboxElement" })';
                                        result1 = result1.replace("ID1", data[5]);
                                        result1 = result1.replace("ID3", data[7]);
                                        result1 = result1.replace("Create1", '<i class="icon-plus" title="@Resources.ToolTip_Create"></i>');
                                    }
                                    else if (statusFlag == "True") {

                                        var result1 = '@Html.ActionLink("Edit1", "CreateSyllabusGroupDetails", new { ID = "ID1", SubjectGroupID = "ID2", _subjectName = "ID3" }, new { @class = "ajax  cboxElement" })';
                                        result1 = result1.replace("ID1", data[6]);
                                        result1 = result1.replace("ID2", data[5]);
                                        result1 = result1.replace("ID3", data[7]);
                                        result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');

                                        }
                                    var result = "<p  style='text-align: center; height:5px;'>" + result1 + "</p>";
                                    return result;

                                }
                            }
            ],

            // "order": [[0, 'asc']],
            //"displayLength": 25,
            "drawCallback": function (settings) {

                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                api.column(1, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="7" style="font-weight:bold;background-color:rgba(128,128,128,0.2);color:#000;font-size:12px;font-family: verdana;">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }

        });

    });









</script>

<style>
    .paging_full_numbers {
        height: 22px;
        line-height: 42px;
        width: 400px;
    }
</style>*@

@*-----------new code----------------*@


@model AMS.ViewModel.OrganisationSyllabusGroupMasterViewModel

<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnGetColumnData.js")" type="text/javascript"></script>


@*<div class="container">*@
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormName_AddSyllabusTopics</h2>
</div>

<div class="card">



    <div class="card-header">
        <ul class="actions" id="CreateCentrewiseSession" style="display:none;">
            @*<li class="dropdown">
                    <a href="" data-toggle="dropdown" title="Add New">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="mfpAjaxModal" href="@Url.Action("Create", "OrganisationCentrewiseSession", new { centerCode = @Model.SelectedCentreCode, centerName = @Model.CentreName })">
                                <i class="zmdi zmdi-plus-square"></i> &nbsp; @Resources.DisplayName_AddNew
                            </a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </div>

    <div class="card-body card-padding">
        @Html.HiddenFor(m => m.SessionID)
        <div class="row">
            <div class="col-sm-4">
                @Resources.TableHeaders_CentreName
                <div class="form-group fg-line select">
                    @Html.DropDownListFor(m => m.SelectedCentreCode, Model.ListGetAdminRoleApplicableCentreItems, Resources.ddlHeaders_CentreName, new { @class = "form-control", style = "" })
                </div>
            </div>

            <div class="col-sm-4">
                @Resources.TableHeaders_UniversityName
                <div class="form-group fg-line select">
                    @Html.DropDownListFor(m => m.SelectedUniversityID, Model.ListOrganisationUnivesitytMasterItems, Resources.ddlHeaders_UniversityName, new { @class = "form-control", style = "" })
                </div>
            </div>

            <div class="col-sm-2" id="LiSessionName" style="display:none">
                @Resources.TableHeaders_Session
                <div class="form-group fg-line">
                @if (Model.SessionName != "Session not defined !")
                {
                    <b>@Html.DisplayFor(m => m.SessionName, new { style = "font-size: 12px;" })</b>
                }
                else
                {
                    <b style="color: red;">@Html.DisplayFor(m => m.SessionName, new { style = "font-size: 12px;" })</b>
                }
                </div>
            </div>
            
            <div class="col-sm-2" style="margin-top:10px;">
                <button type="button" class="btn btn-primary" id="btnShowList">@Resources.GlobalProperties_ShowList</button>
            </div>
        </div>
    </div>

    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">@Resources.GlobalProperties_10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor: pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_10">@Resources.GlobalProperties_10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_25">@Resources.GlobalProperties_25</a>
                            </li>
                            <li aria-selected="false"><a class="dropdown-item dropdown-item-button" data-action="@Resources.GlobalProperties_50">@Resources.GlobalProperties_50</a></li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span><span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="SubjectName">
                                        @Resources.TableHeaders_SubjectName<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                    <div class="checkbox">
                                        <label class="dropdown-item" aria-disabled="false">
                                            <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="Name_GroupCol">
                                            @Resources.DisplayName_GroupCol<i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="SubjectCode">
                                        @Resources.TableHeaders_SubjectCode<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                    <div class="checkbox">
                                        <label class="dropdown-item" aria-disabled="false">
                                            <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="3" name="SubjectType">
                                            @Resources.TableHeaders_SubjectType<i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="AllocationStatus">
                                        @Resources.TableHeaders_AllocationStatus<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="Action">
                                        @Resources.TableHeaders_Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>@Resources.TableHeaders_SubjectName </th>
                <th>@Resources.DisplayName_GroupCol</th>
                <th>@Resources.TableHeaders_SubjectCode</th>
                <th>@Resources.TableHeaders_SubjectType </th>
                <th>@Resources.TableHeaders_AllocationStatus</th>
                <th>@Resources.TableHeaders_Action</th>
            </tr>
        </thead>
    </table>
</div>
@*</div>*@

<script type="text/javascript">

    $(document).ready(function () {

        var oTableList;
        OrganisationSyllabusGroupMaster.Initialize();
        oTableList = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "OrganisationSyllabusGroupMaster/AjaxHandler",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CurrentSessionID", "value": $('#SessionID').val() });
            },
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "CurrentSessionID", "value": $("#SessionID").val() }),
                aoData.push({ "name": "SelectedCentreCode", "value": $("#SelectedCentreCode").val() }),
                aoData.push({ "name": "SelectedUniversityID", "value": $("#SelectedUniversityID").val() });
            },
            "columnDefs": [

                            {
                                "targets": 0,

                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var result = "<p  style=' height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[0] + "</p>";
                                    return result;
                                }
                            },

                            {
                                "visible": false, "targets": 1,
                            },
                            {
                                "targets": 4,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    var chkStatus = '';
                                    if (data[4] == "True") {
                                        chkStatus = 'checked';
                                    }
                                    else {
                                        chkStatus = '';
                                    }
                                    //var result = "<p  style='text-align: center; height:5px;'>" + '<input id="IsActive" class="CheckBox" type="checkbox" disabled ' + chkStatus + ' />' + "</p>";
                                    var result = "<p  class='checkbox' style='margin-left: 10%; margin-top: 0%;'>" + '<input id="IsActive"  type="checkbox" disabled ' + chkStatus + ' /><i class="input-helper"></i>' + "</p>";

                                    return result;

                                }
                            },
                            {
                                "targets": 5,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    debugger;
                                    var statusFlag = data[4];
                                    if (statusFlag == "False") {

                                        var result1 = '@Html.ActionLink("Create1", "CreateSyllabusGroupDetails", new { SubjectGroupID = "ID1", ID = 0, _subjectName = "ID3" }, new { @class = "mfpAjaxModal" })';
                                        result1 = result1.replace("ID1", data[5]);
                                        result1 = result1.replace("ID3", data[7]);
                                        //result1 = result1.replace("Create1", '<i class="icon-plus" title="@Resources.ToolTip_Create"></i>');
                                        result1 = result1.replace("Create1", '<button title="@Resources.ToolTip_Create" class="btn btn-default"><i class="zmdi zmdi-plus"></i></button>');
                                    }
                                    else if (statusFlag == "True") {

                                        var result1 = '@Html.ActionLink("Edit1", "CreateSyllabusGroupDetails", new { ID = "ID1", SubjectGroupID = "ID2", _subjectName = "ID3" }, new { @class = "mfpAjaxModal" })';
                                        result1 = result1.replace("ID1", data[6]);
                                        result1 = result1.replace("ID2", data[5]);
                                        result1 = result1.replace("ID3", data[7]);
                                        //result1 = result1.replace("Edit1", '<i class="icon-edit" title="@Resources.ToolTip_Edit"></i>');
                                        result1 = result1.replace("Edit1", '<button title="@Resources.ToolTip_Edit" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>');

                                        }
                                    var result = "<p  style='text-align: center; height:5px;'>" + result1 + "</p>";
                                    return result;

                                }
                            }
            ],

            // "order": [[0, 'asc']],
            //"displayLength": 25,
            "drawCallback": function (settings) {

                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                api.column(1, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="7" style="font-weight:bold;background-color:rgba(128,128,128,0.2);color:#000;font-size:12px;font-family: verdana;">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }

        });

        DataTableSettings(oTableList, "myDataTable", "toggleTableColumn");

    });

</script>

