@model AMS.ViewModel.FeeTypeAndSubTypeViewModel

@*<form id="FormCreateFeeTypeMaster" method="post">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="update-message" class="error invisible"></div>

    <div class="widget-block">
        <div class="widget-head">
            <h5>@Resources.DisplayName_CreateFeeType </h5>
        </div>
        <div class="widget-content">
            <div class="widget-box" style="padding: 15px">
                <div class="control-group control-label">

                    <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span> @Html.LabelFor(model => model.FeeTypeDesc, new { style = "font-Weight:Bold;" })
                    <div class="controls input-xlarge text-tip">
                        @Html.TextBoxFor(model => model.FeeTypeDesc, new { style = "font-Weight:Bold;", maxlength = "60" })
                        <br />
                        @Html.ValidationMessageFor(model => model.FeeTypeDesc)
                    </div>
                </div>
                <div class="control-group control-label">

                    <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span> @Html.LabelFor(model => model.FeeTypeCode, new { style = "font-Weight:Bold;" })
                    <div class="controls input-xlarge text-tip">
                        @Html.DropDownList("FeeTypeCode", ViewData["FeeTypeCode"] as List<SelectListItem>, new { style = "font-Weight:Bold;width:210px;" })
                      
                    </div>
                </div>
                <div class="form-actions" style="border: 1px solid #e5e5e5; text-align: right">
                    <input type="button" id="CreateFeeTypeMasterRecord" value="@Resources.ButtonAction_Submit" class="btn btn-primary" />
                    <input name="" id="reset" type="submit" class="btn btn-secondary" value="@Resources.ButtonAction_Reset" />
                </div>
            </div>
        </div>
    </div>
</form>*@
<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp; &nbsp;@Resources.DisplayName_CreateFeeType</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateFeeTypeMaster" method="post" role="form" class="row">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                            <label><span style="color:red">*</span>@Html.LabelFor(model => model.FeeTypeDesc)</label>
                            @Html.TextBoxFor(model => model.FeeTypeDesc, new { @class = "form-control", maxlength = "60" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FeeTypeDesc)
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fg-line select">
                            <label>@Html.LabelFor(model => model.FeeTypeCode, new { style = "font-Weight:Bold;" })</label>
                           @Html.DropDownList("FeeTypeCode", ViewData["FeeTypeCode"] as List<SelectListItem>, new { @class="form-control" })
                        </div>

                    </div>
                </div>



                <div class="form-group col-sm-12" style="margin-left:1%">
                    <input type="button" id="CreateFeeTypeMasterRecord" value="@Resources.ButtonAction_Submit" class="btn btn-primary" />&nbsp;&nbsp;
                    <input name="" id="resetfee" type="submit" class="btn btn-secondary" value="@Resources.ButtonAction_Reset" />
                </div>

            </form>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        FeeTypeAndSubType.Initialize();
    });
</script>
