@*@model AMS.ViewModel.GeneralEducationMasterViewModel

<form id="FormCreateGeneralEducationMaster" method="post">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="update-message" class="error invisible"></div>

    <div class="widget-block">
        <div class="widget-head">
            <h5>@Resources.FormCreate_EducationMaster </h5>
        </div>
        <div class="widget-content">
            <div class="widget-box" style="padding: 15px">
                <div class="control-group control-label">

                    <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>   
                    @Html.LabelFor(m => m.EducationTypeID, new { style = "font-Weight:Bold;" })

                    <div class="controls input-xlarge text-tip">
                        @Html.DropDownListFor(m => m.EducationTypeID, (SelectList)ViewBag.GeneralEducationTypeMaster, Resources.ddlHeaders_EducationLevelName, new { style = "font-Weight:Bold;" })

                        <br />
                        @Html.ValidationMessageFor(model => model.EducationTypeID)

                    </div>
                </div>
                <div class="control-group control-label">

                    <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>        
                    @Html.LabelFor(model => model.Description, new { style = "font-Weight:Bold;" })

                    <div class="controls input-xlarge text-tip">
                        @Html.TextBoxFor(model => model.Description, new { maxlength = "60", style = "font-Weight:Bold;" })
                        <br />
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="control-group control-label">

                    <span style="color: red; float: left; padding-left: 1px; font-weight: bold">*</span>       
                    @Html.LabelFor(m => m.NumberOfYears, new { style = "font-Weight:Bold;" })

                    <div class="controls input-xlarge text-tip">
                        @Html.TextBoxFor(model => model.NumberOfYears, new { style = "font-Weight:Bold; width:80px; text-align:right;", maxlength = "2", minlength = "1", Value = "" })
                        @Html.DropDownListFor(m => m.Unit, (SelectList)ViewBag.GeneralUnitMaster, Resources.ddlHeaders_UnitName, new { style = "width:120px;font-Weight:Bold;" })

                        <br />
                        @Html.ValidationMessageFor(model => model.NumberOfYears) <br />
                        @Html.ValidationMessageFor(model => model.Unit)
                    </div>
                </div>


                <div class="form-actions" style="border: 1px solid #e5e5e5; text-align: right">


                    <input id="CreateGeneralEducationMasterRecord" type="button" value="@Resources.ButtonAction_Submit" class="btn btn-primary" />
                    <input name="" id="reset" type="submit" class="btn btn-secondary" value="@Resources.ButtonAction_Reset" />
                </div>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        GeneralEducationMaster.Initialize();
    });
</script>*@

@*------------new code-------------*@

@model AMS.ViewModel.GeneralEducationMasterViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fnReloadAjax.js")" type="text/javascript"></script>

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;@Resources.FormCreate_City</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateGeneralEducationMaster">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.EducationTypeID, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.EducationTypeID, (SelectList)ViewBag.GeneralEducationTypeMaster, Resources.ddlHeaders_EducationLevelName, new { @class = "form-control", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.EducationTypeID)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.Description, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", maxlength = "60", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.NumberOfYears, new { style = "" })
                        <div class="form-group  fg-line">
                            @Html.TextBoxFor(model => model.NumberOfYears, new { @class = "form-control", style = "", maxlength = "2", minlength = "1", Value = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.NumberOfYears)
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.NumberOfYears, new { style = "" })
                        <div class="form-group  fg-line select">
                            @Html.DropDownListFor(m => m.Unit, (SelectList)ViewBag.GeneralUnitMaster, Resources.ddlHeaders_UnitName, new { @class = "form-control", style = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Unit)
                    </div>
                </div>
                
                <div class="form-group" style="margin-left: 2%; ">
                    <input class="btn btn-primary btn-sm m-t-10 waves-effect" value="@Resources.ButtonAction_Submit" id="CreateGeneralEducationMasterRecord" type="button" />
                    <input name="" id="reset" type="submit" class="btn btn-default" value="@Resources.ButtonAction_Reset" />
                </div>
            </form>

        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GeneralEducationMaster.Initialize();
    });
</script>
