@model AMS.ViewModel.FeeCriteriaCombinationParameterValueViewModel
<form id="FormFeeCriteriaCombinationParameterValue" method="post">

    @Html.HiddenFor(model => model.FeeCriteriaValueCombinationMasterID)
    @Html.HiddenFor(model => model.FeeCriteriaMasterID)

    <div class="widget-block" style="width: auto;">
        <div class="widget-head">
            <h5>@Resources.DisplayName_DeAllocateFeeCriteriaValueCombination</h5>
        </div>
        <div class="widget-content">
            <div class="widget-box">

                <div class="control-group" style="padding: 10px;">
                    &nbsp;&nbsp;<img src="~/Content/images/warning.png" />&nbsp;&nbsp;@Resources.DisplayName_DoYouWantToDealocate <u>@Html.DisplayFor(model => model.FeeCriteriaValueCombinationDescription) </u>@Resources.DisplayName_FeeCriteriaCombinationValue 
                        <div class="controls">
                        </div>
                </div>

                <div class="control-group" style="padding: 10px; text-align: right; margin-bottom: 0px; border: 1px solid #e5e5e5;">
                    <input type="button" id="DeleteFeeCriteriaCombinationParameterValueRecord" value="@Resources.ButtonAction_Delete" class="btn btn-primary" />

                </div>

            </div>
        </div>
    </div>
</form>
<div id="update-message" class="error invisible"></div>
<script type="text/javascript">
    $(document).ready(function () {
        FeeCriteriaCombinationParameterValue.Initialize();
    });
</script>

