@model AMS.ViewModel.InventoryReportMasterViewModel

@{
    var group1 = string.Empty;
    var group2 = string.Empty;
}
<style type="text/css">
    hr {
        display: block;
        height: 1px;
        background: transparent;
        width: 100%;
        border: none;
        border-top: solid 2px #aaaaaa;
    }
</style>
<div class="widget-content">
    <div class="widget-box">
        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
            <div class="table_content">
                <div id="printablediv">
                    <div style="border: 2px solid #aaaaaa;">
                        @if (Model.ListInventoryReportHeader != null)
                        {
                            <table id="myDataTable" class="table user-tbl" style="height: 103px;">
                                <thead>
                                    <tr>
                                        <td class="center">
                                            <span style="font-weight:lighter;color:#000; font-size:15px;"><br />@Model.ListInventoryReportHeader[0].PrintingLine1<br /></span>
                                            <span style="font-weight: bold; color: red; font-size: 25px;">@Model.ListInventoryReportHeader[0].PrintingLine2 <br /></span>
                                            <span style="font-weight: lighter; color: #000; font-size: 15px; ">@Model.ListInventoryReportHeader[0].PrintingLine4</span>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <hr />
                        }
                        <table id="myDataTable" class="table user-tbl">
                            <thead>
                                <tr>
                                    <th class="center" style="font-weight:bold;color:#000" rowspan="2">Location</th>
                                    <th class="center" style="font-weight:bold;color:#000" rowspan="2">Quantity</th>
                                </tr>
                            </thead>
                            @if (Model.ListInventoryItemwiseConsumptionReport.Count > 0)
                            {
                                foreach (var item in Model.ListInventoryItemwiseConsumptionReport)
                                {
                                    <tbody id="Level0" style="overflow: scroll;">

                                        @if (group1 != item.TransactionDate)
                                        {
                                            <tr>
                                                <td style="text-align: left; font-weight: bold; color: brown;">
                                                    @item.TransactionDate
                                                </td>
                                                <td style="text-align: left; font-weight: bold;"></td>
                                            </tr>
                                            group1 = item.TransactionDate;
                                        }

                                        @if (group2 != item.ItemName)
                                        {
                                            <tr>
                                                <td style=" padding-left: 38px; font-weight: bold; color: steelblue;">
                                                    @item.ItemName
                                                </td>
                                                <td style=" padding-left: 38px; font-weight: bold"></td>
                                            </tr>
                                            group2 = item.ItemName;
                                        }

                                        <tr>
                                            <td style="padding-left: 70px; font-weight: lighter">
                                                @item.LocationName
                                            </td>
                                            <td style="text-align: center; font-weight: lighter">
                                                @item.Quantity
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                            else
                            {
                                <tbody style="overflow: scroll;">
                                    <tr>
                                        <td class="center" style="font-weight:bold;color:#000" colspan="4">
                                            No data available
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
                @if (Model.ListInventoryItemwiseConsumptionReport.Count > 0)
                {
                    <hr />
                    <center>
                        <input type="button" style="width:10%;" id="Print" value="Print" onclick="javascript: printDiv('printablediv')" class="btn btn-primary" />
                    </center>
                    <br />

                }
            </div>
            <div class="widget-bottom">
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div>
    <br>
    <br>
</div>
<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" +
          divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;

    }
</script>

