@model AMS.Web.UI.Models.DepartmentMaster.DepartmentMaster
@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/Vendors")
@Html.Partial("_LeftMenu")

<div id='dlgEdit'>
    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Department Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        <fieldset>
                              <legend>Details</legend>
                                
                                <div class="display-label">Department Name</div>
                                <div class="display-field">@Model.DepartmentName</div>
                                
                                 <br />
                                <div class="display-label">DepartmentShortCode</div> 
                                <div class="display-field">@Model.DepartmentShortCode</div>
                                 <br />
                                <div class="display-label">DepartmentPrintCode</div> 
                                <div class="display-field">@Model.DepartmentPrintCode</div>
                                <br />
                                <div class="display-label">AcademicNonAcademic</div> 
                                <div class="display-field">@Model.AcademicNonAcademic</div>
                            <br />
                                <div class="display-label">TeachingActivity</div> 
                                <div class="display-field">@Html.EditorFor(model => model.TeachingActivity)</div>

                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>