@model AMS.ViewModel.InventoryDumpAndShrinkMasterAndDetailsViewModel
<link href="@Url.Content("~/Content/jquery-ui.theme.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("Content/admin/jquery-ui-1.css")" rel="stylesheet" type="text/css" />
<style>
    .ui-front {
        z-index: 9999;
    }
    .ui-datepicker {
        font-size: 9pt !important;
    }
</style>
<div id="salesDiv">
    <div class="widget-block">
        <div class="widget-head">
            <h5>  Create Waste & Shrink</h5>
        </div>
        <div id="msgDiv" style="display:none;color:#000;" class="alert"></div>
        <div class="widget-content">
            <div class="widget-box">
                <form class="form-horizontal well" id="FormCreateInventorySalesAndTransaction" style="">
                    <div class="nonboxy-widget">
                        <fieldset>
                            <div class="row">
                                <div class="span11">
                                    <div class="row control-group">
                                        @Html.HiddenFor(m => m.ItemID)
                                        <div class="span">
                                            @Html.LabelFor(model => model.ItemName, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "txtbox", style = "font-weight:bold" })
                                        </div>
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.Rate, new { Style = "font-size: 100%;font-weight:bold ;" })
                                            @Html.TextBoxFor(model => model.Rate, new { @class = "txtbox", style = "width:60px;text-align:right;font-weight:bold;  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);", disabled = "disabled" })
                                        </div>
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.UnitCode, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.UnitCode, new { @class = "txtbox", Style = "width:45px;text-align:right;font-weight:bold;  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);", disabled = "disabled" })
                                        </div>
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.CurrentQuantity, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.CurrentQuantity, new { @class = "txtbox", Style = "width:60px;text-align:right;font-weight:bold;  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);", disabled = "disabled" })
                                        </div>
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.ActualWeight, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.ActualWeight, new { @class = "txtbox", Style = "width:60px;text-align:right;font-weight:bold", disabled = "disabled" })
                                        </div>
                                      
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.ShrinkQuantity, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.ShrinkQuantity, new {maxlength = "8", @class = "txtbox", Style = "width:60px;text-align:right;font-weight:bold" })
                                        </div>
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.DumpQuantity, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.DumpQuantity, new {maxlength = "8", @class = "txtbox", Style = "width:60px;text-align:right;font-weight:bold" })
                                        </div>
                                        <div class="spanFullName">
                                            @Html.LabelFor(model => model.Remark, new { Style = "font-size: 100%;font-weight:bold;" })
                                            @Html.TextBoxFor(model => model.Remark, new { style = "width:155px;text-align:left;font-weight:bold" })
                                        </div>
                                        <div class="spanFullName">
                                            <label for="input01">&nbsp;</label>
                                            <input type="button" id="addItem" class="btn btn-primary" style="height:28px" value="Add" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span11">
                                    <div id="DivAddRowTable" style="height: 200px; overflow: auto">
                                        <table id="tblData" class="table user-tbl " style="  border: 1px solid #dddddd">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: left; width: 24%">item</th>
                                                    <th style="text-align: left; width: 11%">rate</th>
                                                    <th style="text-align: left; width: 10%">unit</th>
                                                    <th style="text-align: left; width: 15%">waste quantity</th>
                                                    <th style="text-align: left; width: 17%">shrink quantity</th>
                                                    <th style="text-align: left; width: 15px">Amount</th>
                                                    <th style="text-align: left; width: 5px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="span11">
                                    <div class="form-actions " style="border: 1px solid #e5e5e5;text-align:right">
                                        <span style="float: left; margin-left: -150px; font-weight: bold;">
                                            Total Item
                                            <input type="text" style="width: 50px; height: 16px; text-align: right; -webkit-text-fill-color: rgba(0, 0, 0, 0.5);" disabled id="TotalItem" value="0"/>
                                        </span>
                                        <span style="float: left; margin-left: 20px; font-weight: bold;">
                                            Total Waste & Shrink Amount
                                            <input type="text" style="width: 70px; font-weight: bold; height: 16px; text-align: right; -webkit-text-fill-color: rgba(0, 0, 0, 0.5);" disabled id="TotalBillAmount" value="0" />
                                        </span>
                                        <input type="button" id="CreateInventoryDumpAndShrink" value="@Resources.ButtonAction_Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        InventoryDumpAndShrinkMasterAndDetails.Initialize();
        $('#ShrinkQuantity').on("keydown", function (e) {
            // AMSValidation.AllowNumbersOnly(e);
            AMSValidation.AllowNumbersWithDecimalOnly(e);
            AMSValidation.NotAllowSpaces(e);
        });
    })

</script>