@*

    @model AMS.ViewModel.AccountGeneralLedgerReportViewModel
    <script src="@Url.Content("~/Scripts/AMS_Scripts/Account/AccountIndividualBalanceReport.js")" type="text/javascript"></script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("Index", "AccountIndividualBalanceReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li>Ledger Report<span class="divider">»</span></li>
                <li>Individual Balance</li>
            </ul>
            <div id="SuccessMessage" style="display: none; color: #000;" class="alert"></div>
            <div class="">
                <div class="">
                    <div class="widget-block" style="background: #fff none repeat scroll 0 0;">
                        <div class="widget-head">
                            <h5>Parameter of Individual Balance</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">
                                @Html.HiddenFor(m => m.AccountName)
                                @Html.HiddenFor(m => m.PersonTypeName)
                                @Html.HiddenFor(m => m.AccountBalsheetMstID)
                                @Html.HiddenFor(m => m.IsPosted)
                                <ul class="breadcrumb" style="background: #fff none repeat scroll 0 0; border: 0px solid #c2c2c2; margin-top: 15px;">
                                    <li>
                                        <div class="control-group" style="margin-bottom: 5px;">
                                            <div class="span2">
                                                @Html.LabelFor(m => m.AccountSessionID, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span8" style="line-height: 25px">
                                                @Html.DropDownListFor(m => m.AccountSessionID, Model.AccountSessionMasterReportItems, "------Select Account Session-------", new { @class = "", style = "font-weight:bold" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.AccountSessionID)
                                            </div>
                                        </div>
                                        <div class="control-group" style="margin-bottom: 5px;">
                                            <div class="span2">
                                                @Html.LabelFor(m => m.FromDate, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "", style = "font-weight:bold", ReadOnly = "True" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.FromDate)
                                            </div>
                                            <div class="span2">
                                                @Html.LabelFor(m => m.ToDate, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "", style = "font-weight:bold", ReadOnly = "True" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.ToDate)
                                            </div>
                                        </div>
                                        <div class="control-group" style="margin-bottom: 5px;">
                                            <div class="span2">
                                                @Html.LabelFor(m => m.PersonType, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.DropDownListFor(m => m.ControlHead, Model.UserTypeListItems, "-----Select Control Head-----", new { style = "width:210px;font-Weight:Bold" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.ControlHead)
                                            </div>
                                            <div class="span2">
                                                @Html.LabelFor(m => m.AccountName, new { @class = "control-label", style = "font-weight:bold" })
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                @Html.DropDownListFor(m => m.AccountID, Model.AccountNameReportItems, "------Select Account Name-------", new { @class = "", style = "font-weight:bold" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.AccountID)
                                            </div>
                                        </div>
                                        <div class="control-group" style="margin-bottom: 5px;">
                                            <div class="span2">
                                                &nbsp;
                                            </div>
                                            <div class="span3" style="line-height: 25px;">
                                                <input type="submit" id="btnAccountIndividualBalanceReportSubmit" name="submit" value="Show" class="btn btn-primary" />
                                            </div>
                                            <div class="span2">
                                                &nbsp;
                                            </div>
                                            <div class="span3" style="line-height: 25px">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="aaa">
                <div class="span12" style="float: left">
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>Individual Balance Report</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box" style="padding: 15px">
                                @Html.Partial("/Views/Accounts/AccountIndividualBalanceReport/AccountIndividualBalanceReport.aspx")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            AccountIndividualBalanceReport.Initialize();
        });

    </script>

*@

@*new code*@

@model AMS.ViewModel.AccountGeneralLedgerReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<script src="@Url.Content("~/Scripts/AMS_Scripts/Account/AccountIndividualBalanceReport.js")" type="text/javascript"></script>
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<div class="container">

    @using (Html.BeginForm("Index", "AccountIndividualBalanceReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="block-header">
            <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Parameter of Individual Balance</h2>
        </div>

        <div class="card" style="margin-bottom: 0px;">
            <div class="card-body card-padding">
                @Html.HiddenFor(m => m.AccountName)
                @Html.HiddenFor(m => m.PersonTypeName)
                @Html.HiddenFor(m => m.AccountBalsheetMstID)
                @Html.HiddenFor(m => m.IsPosted)
                
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <div class="fg-line select form-group">
                                @Html.DropDownListFor(m => m.AccountSessionID, Model.AccountSessionMasterReportItems, "------Select Account Session-------", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Account Session*" })
                            </div>
                            @Html.ValidationMessageFor(model => model.AccountSessionID)
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-group fg-line dtp-container">
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control input-sm", @readonly = "readonly", @placeholder = "Session from date", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Session from date", style = "background-color:white" })
                            </div>
                            @Html.ValidationMessageFor(model => model.FromDate)
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group fg-line dtp-container">
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control input-sm", @readonly = "readonly", @placeholder = "Session to date", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Session to date", style = "background-color:white" })
                            </div>
                            @Html.ValidationMessageFor(model => model.ToDate)
                        </div>
                        <div class="col-sm-3">
                            <div class="fg-line select form-group">
                                @Html.DropDownListFor(m => m.ControlHead, Model.UserTypeListItems, "-----Select Control Head-----", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Person type" })

                            </div>
                            @Html.ValidationMessageFor(model => model.ControlHead)
                        </div>
                        <div class="col-sm-3">
                            <div class="fg-line select form-group">
                                @Html.DropDownListFor(m => m.AccountID, Model.AccountNameReportItems, "------Select Account Name-------", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "Account name*" })
                            </div>
                            @Html.ValidationMessageFor(model => model.AccountID)
                        </div>
                    </div>

                   
                    <div class="row" style="margin-left:2%; margin-top:15%;">
                        <button type="submit" id="btnAccountIndividualBalanceReportSubmit" name="submit" class="btn btn-primary">Show</button>
                    </div>

                </div>
        </div>
    }

    <div id="aaa">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body card-padding">
                @Html.Partial("/Views/Accounts/AccountIndividualBalanceReport/AccountIndividualBalanceReport.aspx")
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/materialtheme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        AccountIndividualBalanceReport.Initialize();
        $('#FromDate').attr("readonly", true);
        $('#FromDate').datetimepicker({
            format: 'DD MMMM YYYY',
            ignoreReadonly: true,
        });
        $("#ToDate").datetimepicker({
            format: "DD MMMM YYYY",
            ignoreReadonly: true,
        });
});
</script>




