@if (Request.IsAuthenticated)
{
    <text>
        <li style="padding-left: 6%;">@HttpContext.Current.Session["UserName"].ToString() </li>
        @* <li> @Html.ActionLink(Session["UserName"].ToString()/*User.Identity.Name*/, "PersonalInformationHome", "EmployeeInformation", routeValues: null, htmlAttributes: new {ID=@HttpContext.Current.Session["PersonID"].ToString(), @class = "username", title = "Manage" })</li>*@
        @*  <li><a href="#"><i class="icon-inbox"></i> Messages <span class="alert-noty">10</span></a></li>*@
       
        @*<li><a href="@Url.Action("NotificationList", "Home")"><i class="icon-envelope"></i>Notifications <span class="alert-noty">@Convert.ToString(HttpContext.Current.Session["TotalRendingNotification"])</span></a></li>*@
        @*<li><a href="/EmployeeInformation/PersonalInformationHome/@HttpContext.Current.Session["PersonID"].ToString()"><i class="icon-file"></i>@Resources.DisplayName_ViewProfile</a></li>*@
        <li><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
        <li><a class="ajax cboxElement" href="@Url.Action("_ChangePassword", "EmployeeInformation", new { ID = Convert.ToInt32(HttpContext.Current.Session["UserID"]) })"><span class="black-icons unlocked"></span>Change Password</a></li>

      

        <li class="divider" style="margin-bottom: 0"></li>
        <li>
             <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i><strong>@Resources.DisplayName_Logout</strong></a>
            @*<a id="Logout" href="#"><i class=" icon-off"></i><strong>@Resources.DisplayName_Logout</strong></a>*@  
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "margin: 0px;background-color:#808080; color:#fff;" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="latitude" value="" />
                <input type="hidden" id="longitude" value="" />
            }
        </li>

    </text>
}
else
{

    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}

<script type="text/javascript">
    $(document).ready(function () {

        //$("#Logout").on("click", function (e) {         
        //    $.ajax({
        //        type: 'POST',
        //        url: '/Account/LogOff',
        //        data: { latitude: $('#latitude').val(), longitude: $('#longitude').val() },
        //        success: function (data) {
        //            location.reload();
        //        }
        //    });
        //});
    });

</script>
<style>
    .backbtn {
        float: left;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .logout {
        clear: both;
        color: #333333;
        display: block;
        font-weight: normal;
        line-height: 18px;
        padding: 3px 10px;
        white-space: nowrap;
    }

    .dropdown-menu li > button:hover,
    .dropdown-menu li > button:focus,
    .dropdown-submenu:hover > button {
        background-color: #0081c2;
        background-image: linear-gradient(to bottom, #0088cc, #0077b3);
        background-repeat: repeat-x;
        color: #ffffff;
        text-decoration: none;
        padding-right: 147px;
    }

    #overlay {
        position: fixed;
        z-index: 99990;
        background: black;
        display: block;
        opacity: .75;
        filter: alpha(opacity=75);
        width: 100%;
        height: 100%;
    }
</style>






