@model AMS.Web.UI.Models.StreamMaster.StreamMaster
@{
    ViewBag.Title = "Delete";
}

@Styles.Render("~/Content/Vendors")
@Html.Partial("_LeftMenu")

<div id='dlgEdit'>
    <div class="col-md-10">
        <div class="row">
            <div class="navbar navbar-default bootstrap-admin-navbar-thin">
                <ol class="breadcrumb bootstrap-admin-breadcrumb">
                    <li>
                        <a href="#">Organisation</a>
                    </li>
                    <li>
                        <a href="#">Academic Structure</a>
                    </li>
                    <li><a href="#">Add General Course Details</a></li>
                    <li class="active">Stream Master</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Stream Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        <h4>Are you sure you want to delete this?</h4>
                        <fieldset>
                            <legend>Stream Details</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">StreamDescription </label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.StreamDescription</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">DivisionID</label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.DivisionID</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">ShortCode</label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.ShortCode</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">PrintCode</label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.PrintCode</span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}