@model AMS.ViewModel.InventoryIssueMasterAndIssueDetailsViewModel

<div class="widget-block">
    <div class="widget-head">
        <h5>  View Issue Item</h5>
    </div>
    <div class="widget-content">
        <div class="widget-box">
            <form class="form-horizontal well" id="FormViewInventoryIssueMasterAndIssueDetails" style="">
                <div class="nonboxy-widget">

                    <fieldset>
                        <div class="row">
                            <div class="span7">
                                <div id="DivAddRowTable">
                                    <div class="breadcrumb" style="margin-bottom:1%;">
                                        <h5><span style="text-align: left">@Model.InventoryIssueItemAndDetailsList[0].IssueFromLocationName</span><span style="margin-left:34%">To</span><span style="margin-left: 34%; ">@Model.InventoryIssueItemAndDetailsList[0].IssueToLocationName</span></h5>                                        
                                    </div>
                                    <table id="tblData" class="table user-tbl " style="  border: 1px solid #dddddd">
                                        <thead>
                                            <tr>
                                                <th style="text-align: left; width: 30%">Item</th>
                                                <th style="text-align: left; width: 15%">Issue quantity</th>
                                                <th style="text-align: left; width: 15%">Transaction Date</th>
                                            </tr>
                                        </thead>
                                        <tbody style="overflow: auto">

                                            @foreach (var item in Model.InventoryIssueItemAndDetailsList)
                                            {
                                                <tr>
                                                    <td>@item.ItemName</td>
                                                    <td style="text-align:left">@Math.Round(@item.AvailbleQuantity, 2)</td>
                                                    <td>@item.TransactionDate</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        InventoryIssueMasterAndIssueDetails.Initialize();
    })

</script>