@model AMS.Web.UI.Models.Division.Division
@{
    ViewBag.Title = "Create";
}
<div id="update-message" class="error invisible"></div>

@using (Ajax.BeginForm("Create", "Division", null,
        new AjaxOptions
        {
            UpdateTargetId = "update-message",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "updateSuccess"
        }, new { @Id = "createDivisionForm" }))
     {
 @Html.ValidationSummary(true)

                            <div class="editor-label">
                                <b>Name</b>
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.DivisionName)
                                <br />
                                @Html.ValidationMessageFor(model => model.DivisionName)
                            </div>

                            <div class="editor-label">
                                <b>Short Code</b>
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.DivisionShortCode)
                                <br />
                                @Html.ValidationMessageFor(model => model.DivisionShortCode)
                            </div>

                            <div class="editor-label">
                             <b> Print Code</b>
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.DivisionPrintCode)
                                <br />
                                @Html.ValidationMessageFor(model => model.DivisionPrintCode)
                            </div>

                          
                      

}