@model AMS.ViewModel.FeeAccountTypeMasterViewModel

<div id="custom-content">
    <div class="block-header">
        <h2>&nbsp;<i class="zmdi zmdi-view-toc"></i>&nbsp;View Fee Account Type Master</h2>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div id="displayErrorMessage" role="alert" hidden class="alert">
                <button class="close" type="button"><span aria-hidden="true">×</span></button>
                <p id="messageContent"></p>
            </div>
            <form id="FormCreateFeeAccountTypeMaster" role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.FeeAccountTypeDesc, new { })
                            @Html.TextBoxFor(model => model.FeeAccountTypeDesc, new { maxlength = "100", @class = "form-control input-sm typeahead", @disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FeeAccountTypeDesc)
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                            @Html.LabelFor(model => model.FeeAccountTypeCode, new { })
                            @Html.DropDownList("FeeAccountTypeCode", ViewData["FeeAccountTypeCode"] as List<SelectListItem>, new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "FeeAccountTypeCode*", @disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FeeAccountTypeCode)
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        FeeAccountTypeMaster.Initialize();
    });
</script>




