@model AMS.Web.UI.Models.EducationMaster.EducationMaster
@{
    ViewBag.Title = "Delete";
}

@Styles.Render("~/Content/Vendors")
@Html.Partial("_LeftMenu")

<div id='dlgEdit'>
    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Education Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        <h4>Are you sure you want to delete this?</h4>
                        <fieldset>
                            <legend>Education Details</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">EducationType </label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.EducationType</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">EducationDescription</label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.EducationDescription</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">CompletionPeriod</label>
                                <div class="col-lg-8">
                                    <span class="form-text">@Model.CompletionPeriod</span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}