@model AMS.Web.UI.Models.SubjectTypeMaster
@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/Vendors")
@Html.Partial("_LeftMenu")

<div id='dlgEdit'>
    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">SubjectType Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        <fieldset>
                              <legend>Details</legend>
                                
                                <div class="display-label">Subject Type Description</div>
                                <div class="display-field">@Model.SubjectTypeDescription</div>
                                
                                 <br />
                                <div class="display-label">Subject Short Name</div> 
                                <div class="display-field">@Model.SubjectShortName</div>
                                 <br />

                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>