@model AMS.ViewModel.HMAppointmentTransactionViewModel
<input type="hidden" id="TaskCode" value="HMPatientCaseHistory" />
@Html.HiddenFor(model => model.TaskCode)
@Html.HiddenFor(model => model.GeneralPatientMasterId)
@Html.HiddenFor(model => model.CentreCode)

<div id="custom-content">
    <div class="card">
        <div class="card-body card-padding">
            <form id="FormCreateHMAppointmentTransaction" role="form" class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group fg-line"><span style="color:red">*</span>
                            @Html.LabelFor(model => model.Symtomp, new { })
                            @Html.TextBoxFor(model => model.Symtomp, new { maxlength = "50", @class = "form-control input-sm " ,disabled="disabled"})
                        </div>
                        @Html.ValidationMessageFor(model => model.Symtomp)
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group fg-line"><span style="color:red">*</span>
                            @Html.LabelFor(model => model.CaseHistoryNumber, new { })
                            @Html.TextBoxFor(model => model.CaseHistoryNumber, new { @class = "form-control input-sm ", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CaseHistoryNumber)
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line"><span style="color:red">*</span>
                            @Html.LabelFor(model => model.TransactionDate, new { })
                            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "form-control input-sm ", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TransactionDate)
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line"><span style="color:red">*</span>
                            @Html.LabelFor(model => model.Name, new { })
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm ", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line"><span style="color:red">*</span>
                            @Html.LabelFor(model => model.TreatmentName, new { })
                            @Html.TextBoxFor(model => model.TreatmentName, new { maxlength = "50", @class = "form-control input-sm ", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TreatmentName)
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group fg-line"><span style="color:red">*</span>
                            @Html.LabelFor(model => model.TreatmentDescription, new { })
                            @Html.TextBoxFor(model => model.TreatmentDescription, new { maxlength = "50", @class = "form-control input-sm ", disabled = "disabled" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TreatmentDescription)
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate-1.15.0.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        HMAppointmentTransaction.Initialize();
    });
</script>

