@model AMS.Web.UI.Models.StandardMaster
@{
    ViewBag.Title = "Create";
}
<div id='dlgLogin'>
    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Standard Master</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                                <legend>Create</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.StandardName)
                                </div>
                                <div class="editor-field">
                                        <input type="text" class="form-text" />
                                     @*   @Html.EditorFor(model => model.StandardName)
                                    @Html.ValidationMessageFor(model => model.StandardName) *@
                                </div>

                               <div class="editor-field">
                                    @Html.LabelFor(model => model.StandardNumber)
                                </div>
                                <div class="editor-field">
                                    <input type="text" class="form-text" />
                                  @*   @Html.EditorFor(model => model.StandardNumber)
                                    @Html.ValidationMessageFor(model => model.StandardNumber) *@
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.ShortCode)
                                </div>
                                <div class="editor-field">
                                    <input type="text" class="form-text" />
                                    @*
                                    @Html.EditorFor(model => model.ShortCode)
                                    @Html.ValidationMessageFor(model => model.ShortCode)
                                   *@
                                     </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.PrintCode)
                                </div>
                                <div class="editor-field">
                                     <input type="text" class="form-text" />
                                    @*  @Html.EditorFor(model => model.PrintCode)
                                    @Html.ValidationMessageFor(model => model.PrintCode)  *@
                                </div>
                                <br />
                                <p>
                                    <input type="submit" value="Create" />
                                </p>
                            </fieldset>
                        }
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*script for popup*@
<script type="text/javascript">
    $(function () {
        $("#dlgLogin").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            buttons: {
                Create: function () {
                    // perform login
                    $.post("@Url.Action("Login", "StandardMaster")",
				    {
				        StandardName: $('#StandardName').val(),
				        StandardNumber: $('#StandardNumber').val(),
				        ShortCode: $('#ShortCode').val(),
				        PrintCode: $('#PrintCode').val()
				    },
				    function (data, status, xhr) {
				        if (data.Success) {
				            alert('great'); // do something
				            $('#dlgLogin').dialog("close");
				            $('#divLoginButton').load("@Url.Action("GetLoginButton", "StandardMaster")");
                        } else {
				            // do something else
                        }
				    });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
</script>

@* End othe Script*@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>