@model AMS.ViewModel.OnlineExamStudentApplicableViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 50%;
    }
</style>
<script src="@Url.Content("~/Scripts/AMS_Scripts/OnlineExam/OnlineExamStudentApplicable.js")" type="text/javascript"></script>

<div class="container">
    <div class="block-header">
        <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Allocate Students for Examination</h2>
    </div>
    <div class="card" style="margin-bottom: 0px;">
        @*<div class="card-header">
            &nbsp;
        </div>*@
        <div class="card-body card-padding">
            <form class="row" role="form">
                @Html.HiddenFor(m => m.CenterwiseSessionID)
                <div class="col-sm-4">
                    @Resources.TableHeaders_CentreName
                    <div class="select form-group fg-line">
                        @Html.DropDownListFor(model => model.SelectedCentreCode, (SelectList)ViewBag.listAdminRoleApplicableDetails, "---Select Centre ---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="select form-group fg-line">
                        Select Examination
                        @Html.DropDownListFor(model => model.OnlineExaminationMasterID, Enumerable.Empty<SelectListItem>(), "---Select Exam ---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="select form-group fg-line">
                        Select Course
                        @Html.DropDownListFor(model => model.CourseYearID, Enumerable.Empty<SelectListItem>(), "---Select Course ---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="select form-group fg-line">
                        Select Subject
                        @Html.DropDownListFor(model => model.SubjectID, Enumerable.Empty<SelectListItem>(), "---Select Subject ---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="select form-group fg-line">
                        Select Section
                        @Html.DropDownListFor(model => model.SectionDetailID, Enumerable.Empty<SelectListItem>(), "---Select Section ---", new { @class = "form-control input-sm", data_val = "true", data_toggle = "tooltip", data_placement = "top", data_original_title = "" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" id="btnShowList" style="margin-top: 20px;">@Resources.GlobalProperties_ShowList</button>
                    <button type="button" class="btn btn-primary" id="btnShowAllocatedStudentList" style="margin-top: 20px;">Allocated Student</button>
                </div>
            </form>
        </div>
    </div>

    <div id="ListViewModel"> </div>
</div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //OnlineExam.LoadList();
        OnlineExamStudentApplicable.Initialize();
    });
</script>




